body {
  background: url("https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed; ;
  background-size: cover;
}

.App {
  text-align: center;
  color: white;

}

.zenpic-generator{
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.zenpic-generator .zenpic Button{
  display: none;
}

.zenpic{
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  color: black;
}
.zenpic Button{
  position: absolute;
}

.zenpic img{
  width: 100%;
}

.zenpic p{
  position: absolute;
  top: 20px;
  width: 100%;
  max-width: 300px;
}
